<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44596475599-84a7sncuic10683qght9m83510nh3nn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44596475599-84a7sncuic10683qght9m83510nh3nn6</string>
	<key>API_KEY</key>
	<string>AIzaSyBL5aT5yXNhpCTVLEe84Cpp7owILUttbt0</string>
	<key>GCM_SENDER_ID</key>
	<string>44596475599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.call</string>
	<key>PROJECT_ID</key>
	<string>blyat-5b161</string>
	<key>STORAGE_BUCKET</key>
	<string>blyat-5b161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44596475599:ios:6db13c41401721090629ba</string>
</dict>
</plist>